# Python fundamentals

### print() function

print("Acropolis")

### Comments

In [1]:
# First Program
print("Acropolis")

Acropolis

### Variables

In [2]:
# In Python there is no need to mention the data type

var1 = 20      # An integer assignment
var2 = 4.123   # A floating point
var3 = "India" # A string

print(var1,' ',var2,' ',var3)

20   4.123   India

### Assignment

In [3]:
# general syntax
#variable-name=value

# Assigning same value to multiple variables

var1 = var2 = var3 = 1
print(var1,' ',var2,' ',var3)

# Assigning Different values to variable in a single expression

var1, var2, var3 = 1, 2.5, "Sachin"
print(var1,' ',var2,' ',var3)

# Note: commas can be used for multi-assignments

1   1   1
1   2.5   Sachin

### Taking input

In [4]:
firstname = input("Enter your first name: ")
lastname = input("Enter your second name: ")
semester = input("Enter your semester: ")

Enter your first name: Akash
Enter your second name: Prajapat
Enter your semester: v

In [5]:
# run below code
age = input("Enter your age: ")
age = int(age)+5
print(age)

Enter your age: 20
25

### Write a program in Python for data type conversion from: 
- int to string
- int to float
- string to int
- string to float
- float to int
- float to string

In [6]:
a=10
print(str(a))
print(float(a))

b='20'
print(int(b))
print(float(b))

c=23.56
#write code here to convert float into integer
print(int(c))
#write code here to convert float into string

10
10.0
20
20.0
23

### Task1: 
#### WAP to display your infomation like (full name, branch, university name, age, 12th %, hobbies). Store each value into some meaningful variable.  the ouptput of the program should look like

My name is :
I am in CSE branch at (College/University) : 
I am 18 year old   
My Higher Secondary % is :
My hobbies are :

In [8]:
# write your code after this line
name=input("Enter your name ")
branch=input("Enter your branch ")
university=input("Enter Your university of studying ")
age=input("Enter your age ")
perc=input("Enter your 12th percentage ")

print(name,branch,university,age,perc)

Enter your nameAkash
Enter your branchCSE
Enter Your university of studyingRGPV
Enter your age20
Enter your 12th percentage83
Akash CSE RGPV 20 83

### Commmonly used functions 
- round(n)
- format(n, '0.2f')
- format(n,',') # put a comma on thousand place
- format(n,'b') # print binary of the number, 'o', 'x'

- eval(expression)
- chr(n)
- ord(character)
- bin(n), oct(n), hex(n)

- #### function on string/character data
- isdigit()
- isalpha()
- isspace()
- numeric()
- ljust(width)
- rjust(width)
- cjust(width)

In [9]:
# Python3 program to demonstarte 
# the str.format() method 
  
# using format option in a simple string 
print ("{}, A computer science portal for acropolis."
                        .format("acropolis")) 
  
# using format option for a 
# value stored in a variable 
str = "This article is written in {}"
print (str.format("Python")) 
  
# formatting a string using a numeric constant 
print ("Hello, I am {} years old !".format(18))

acropolis, A computer science portal for acropolis.
This article is written in Python
Hello, I am 18 years old !

In [12]:
# Characters and their ASCII value

x=68
# print character corresponding to x 
print(chr(x))
char='D'
# print number corresponding to char
print(ord(char))

D
68

In [13]:
# write code to print your name 10 times
print('ACROPOLIS'*10)

ACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLIS

In [14]:
for i in range(5):
    print("*"*i)

*
**
***
****

In [15]:
# use seperator and end with specific symbol
a, b, c = 10, 20, 30
print(a,b,c,sep=':',end=',')

10:20:30,

In [11]:
for i in range(1,5):
    print(" "*(5-i),"*"*i)

     *
    **
   ***
  ****

In [17]:
# unpack characters
word = 'PYTH'
a,b,c,d = word
print(a,b,c,d)

P Y T H

### Format output

In [0]:
x = 5 
y = 10
print('The value of x is {} and y is {}'.format(x,y))

In [0]:
print('I like {0} and {1}'.format('ice cream','chocolate'))

In [0]:
print('I like {1} and {0}'.format('ice cream','chocolate'))

In [0]:
print('Hello {name}, {greeting}'.format(greeting = 'Good morning', name = 'Sachin !'))

### Task2
#### Raman likes tea but he has coffee. Riya likes coffee but has tea. Write a program in python so that both can enjoy what they like.

In [18]:
# write your code after this line
raman="Coffe"
riya="Tea"
raman,riya=riya,raman
print(f"Raman likes {raman} and Riya likes {riya}")

Raman likes Tea and Riya likes Coffe

### Task3
Write a program for following
- Input: 'Python'
- Output: 642

In [0]:
# write your code after this line
a,b,c,d,e,f='Python'
s=ord(a)+ord(b)+ord(c)+ord(d)+ord(e)+ord(f)
print(s)

# Working with math, calendar, random, datetime

In [0]:
import math
print(math.sqrt(25))
#math.floor(10.8)
#math.ceil(10.5) 
math.pi

In [19]:
import random
x = random.random() # generate any random number between 0 and 1
print("x = ", x)

y = random.randint(5,20)# generate any random number between 5 and 20
print("y = ", y)

x =  0.9712794100231266
y =  16

In [0]:
import datetime

date = datetime.datetime.now().date() # YYYY-MM-DD format
year = datetime.datetime.now().year
month = datetime.datetime.now().month
day = datetime.datetime.now().day

print(date)
print(year)
print(month)
print(day)

In [20]:
import calendar

year = int(input("Enter Year : "))
month = int(input("Enter the Month : "))

print(calendar.month(year, month))

Enter Year : 2020
Enter the Month : 1
    January 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31